*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    height: 100%;
    font-size: 100%;
}

body {
  font-family: "Fjord One"; serif;
  background-color: hotpink;
}

a:link {
  color: #042A2B;
}

a:visited {
  color: #042A2B;
}

a:hover {
  color: #5EB1BF;
}

.nav-bar {
    position: absolute;
    right: 4rem;
}

.hero-content {
  position: absolute;
  left: 0;
  top: 6rem;
  height: 18rem;
  width: 100%;
  background-color: silver;
}

.hero-title {
  padding: 0 1rem 0 1rem;
}

.new-task {
  position: absolute;
  top: 12rem;
  left: 0;
  width: 70%;
  padding: 0;
  margin: 0.5rem;
  background-color: gray;
}

.new-task-header {
  padding: 1rem 0 1rem 2.5rem;
}

.new-task-field {
  padding: 1rem 0 1rem 2.5rem;
}

.task-field {
  margin: 0;
  padding: 0.25rem;
  width: 40%;
  border-radius: 3px;

}

.priority {
  height: 1rem;
}


.submit:hover {
  background-color: lightgreen;
  border-width: 3px;
  border-color: yellow;
}

.submit:active {
  background-color: lightgreen;
  border-width: 3px;
  border-color: yellow;
}

.task-content {
  position: relative;
  left: auto;
  top: 15rem;
  height: 100%;
  width: 100%;
  background-color: green;
}

.task-list {
  top: auto;
}

.task-description {
  padding: 0.25rem;
}

.task-checkbox {
  float: left;
  position: relative;
}

.task-title {
  position: relative;
  left: 0.5rem;
}

.archive-title {
  position: relative;
  left: 0.5rem;
  text-decoration: line-through;
}
