*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    height: 100%;
    font-size: 100%;
}

body {
  font-family: "Fjord One"; serif;
  background-color: lightpink;
}

.nav-bar {
    position: absolute;
    right: 4rem;
}

.hero-content {
  position: absolute;
  left: 0;
  top: 6rem;
  height: 18rem;
  width: 100%;
  background-color: silver;
}

.hero-title {
  padding: 0 1rem 0 1rem;
}

.new-task {
  position: absolute;
  top: 12rem;
  left: 0;
  width: 40%;
  padding: 0;
  margin: 0.5rem;
  background-color: lightblue;
}

.new-task-header {
  padding: 1rem 0 1rem 2.5rem;
}

.new-task-field {
  padding: 0 0 1rem 2.5rem;
}

.task-field {
  margin: 0;
  width: 60%;
}

.task-content {
  position: relative;
  left: auto;
  top: 8rem;
  height: auto;
  width: auto;
}

.task-list {
  top: auto;
}

.task-description {
  padding: 1rem 1rem 2rem 1rem;
}
