<section class="hero_content">
  <h1 class="hero-title">Task History</h1>
</section>

<section class="new-task">

  <div class="new-task-field">
    <input type="text" class="task-field" ng-model="messageTitle" placeholder="new Task Name!">
    <input type="text" class="task-field" ng-model="messageDescription" placeholder="new Task Description">
    <select class="priority" ng-model="taskPriority">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <button class="submit" ng-click="archive.addTask(messageTitle, messageDescription, taskPriority); clearfunction(this)">Add Task</button>
  </div>
</section>

<section class="task-content">
  <div class="task-list" ng-repeat="task in archive.tasks | orderBy: 'priority'">
    <div ng-hide="archive.hide(task)">
      
      <div>
        <input class="task-checkbox" type="checkbox" ng-click="archive.taskStatus(task)">
        <h3 class="archive-title">{{ task.title }}</h3>
      </div>
      <p class="task-priority">Priority: {{ task.priority }} | Created: {{ task.created }}</p>
      <p class="task-description">Description: {{ task.description }}</p>
      <hr class="task-rules">
    </div>
  </div>
</section>
