<section class="hero-content">
  <h1 class="hero-title">Tasks</h1>
</section>

<section class="new-task">
  <div class="new-task-header">
    Task Name | Description |Priority
  </div>
  <div class="new-task-field" ng-submit="home.addTask()">
    <input type="text" class="task-field" ng-model="task.title" name="title" value="Your New Task Title">
    <input type="text" class="tesk-field" ng-model="task.description" value="Your New Task Description">
    <input type="submit" class="submit" value="Add Task">
  </div>
</section>

<section class="task-content">
  <div class="task-list" ng-repeat="task in home.tasks">
    <div ng-hide="home.hide(task)">
      <h3><input class="task-checkbox" type="checkbox"> {{ task.title }}</h3>
      <p>Created: {{ task.created }}
      <p class="task-description">Description: {{ task.description }}</p>
      <hr class="task-rules">
    </div>
  </div>
</section>
